<div class="container">
    <header class="blog-header py-3">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 pt-1">
          <a class="text-muted" href="#">Subscribirse</a>
        </div>
        <div class="col-4 text-center">
          <a class="blog-header-logo text-dark" href="#">Maybe In</a>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
          <a class="text-muted" href="#" aria-label="Search">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24" focusable="false"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"></circle><path d="M21 21l-5.2-5.2"></path></svg>
          </a>
          <a class="btn btn-sm btn-outline-secondary" routerLink="/login">Ingresar</a>
          <a class="text-muted ml-2" routerLink="/register">Registrarse</a>
        </div>
      </div>
    </header>
  
    <div class="nav-scroller py-1 mb-2">
      <nav class="nav d-flex justify-content-between">
        <a class="p-2 text-muted" href="#">Tecnología</a>
        <a class="p-2 text-muted" href="#">Indumentaria</a>
        <a class="p-2 text-muted" href="#">Diseño</a>
        <a class="p-2 text-muted" href="#">Inmuebles</a>
        <a class="p-2 text-muted" href="#">Propiedades</a>
        <a class="p-2 text-muted" href="#">Hogar</a>
        <a class="p-2 text-muted" href="#">Vehiculos</a>
        <a class="p-2 text-muted" href="#">Hoteles</a>
        <a class="p-2 text-muted" href="#">Pasajes</a>
        <a class="p-2 text-muted" href="#">Vuelos</a>
        <a class="p-2 text-muted" href="#">Accesorios</a>
        <a class="p-2 text-muted" href="#">Libros</a>
      </nav>
    </div>
  
  </div>
  
  <main role="main" class="container mt-3">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h3 class="pb-4 mb-4 font-italic border-bottom">
        {{ title }}
      </h3>
  
      <div class="blog-post">
        
        <div class="row mb-2">
            <div class="col-md-4" *ngFor="let product of list">
              <div class="item">
                <h4>{{ product.name }}</h4>
                <p class="text-primary">${{ product.price_sell }}</p>
                <img src="{{ url + product.image_name + token }}" alt="camera" class="img-fluid">
                <div class="overlay d-flex align-items-center justify-content-center"><a href="detail.html" class="btn btn-unique" data-abc="true">Detalles</a></div>
              </div>
            </div>
        </div>
        
      </div>
  
    </div>
  
    <aside class="col-md-4 blog-sidebar">
      <div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic">Pagá con tarjeta o en efectivo</h4>
        <p class="mb-0">Con Mercado Pago, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!.</p>
      </div>
  
      <div class="p-4">
        <h4 class="font-italic">Categorias</h4>
        <ol class="list-unstyled mb-0">
          <li *ngFor="let cat of categories">
            <a href="#" (click)="$event.preventDefault(); onFilter( cat.name )">{{ cat.name }}</a>
          </li>
          <li><a href="#" (click)="$event.preventDefault(); onFilter()">Todos</a></li>
        </ol>
      </div>
  
      <div class="p-4">
        <h4 class="font-italic">Marcas</h4>
        <ol class="list-unstyled">
          <li><a href="#">GitHub</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
        </ol>
      </div>
    </aside>
  
  </div>
  
  </main>
  
  <footer class="blog-footer">
  <p>Diseñado por <a href="https://getbootstrap.com/">Max Shtefec</a> de <a href="https://twitter.com/mdo">OrbitalST.com</a>.</p>
  <p>
    <a href="#">Volver arriba</a>
  </p>
  </footer>