<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Productos</h1>
    <p class="mb-4">Aquí se visualizan los Productos <a target="_blank" href="https://datatables.net">ver Documentación Official</a>.</p>
    <a routerLink="new" class="btn btn-primary btn-icon-split mb-3">
      <span class="icon text-white-50">
        <i class="fas fa-plus-circle"></i>
      </span>
      <span class="text">Nuevo Producto</span>
    </a>
  
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Listado de productos</h6>
      </div>
      <div class="card-body">

        <div class="table-responsive">

          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
          
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
          
            <ng-container matColumnDef="code">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Código. </th>
              <td mat-cell *matCellDef="let element"> {{ element.code }} </td>
            </ng-container>

            <ng-container matColumnDef="category">
              <th mat-header-cell *matHeaderCellDef  mat-sort-header> Categoria </th>
              <td mat-cell *matCellDef="let element"> {{ element.category }} </td>
            </ng-container>
          
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef  mat-sort-header> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
            </ng-container>
          
            <ng-container matColumnDef="price_cost">
              <th mat-header-cell *matHeaderCellDef  mat-sort-header> Precio de Costo </th>
              <td mat-cell *matCellDef="let element"> {{ element.price_cost }} </td>
            </ng-container>
          
            <ng-container matColumnDef="price_sell">
              <th mat-header-cell *matHeaderCellDef  mat-sort-header> Precio de Venta </th>
              <td mat-cell *matCellDef="let element"> {{ element.price_sell }} </td>
            </ng-container>

            <ng-container matColumnDef="stock">
              <th mat-header-cell *matHeaderCellDef  mat-sort-header> Stock </th>
              <td mat-cell *matCellDef="let element"> {{ element.stock }} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef  mat-sort-header> Acciones </th>
              <td mat-cell *matCellDef="let element"> 
                <button type="button" class="btn btn-info btn-sm mr-1"><i class="fas fa-search"></i></button>
                <button type="button" class="btn btn-warning btn-sm mr-1" (click)="onEdit(element)"><i class="fas fa-fw fa-cog"></i></button>
                <button type="button" class="btn btn-danger btn-sm" (click)="onDeleted(element)"><i class="fas fa-trash"></i></button>
              </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons ></mat-paginator>

        </div>
      </div>
    </div>

  
  </div>
  <!-- /.container-fluid -->