<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Nuevo Producto</h1>
  
    <a routerLink="../" class="btn btn-primary btn-icon-split mb-3">
      <span class="icon text-white-50">
        <i class="fas fa-arrow-circle-left"></i>
      </span>
      <span class="text" style="color: white;">Volver a Productos</span>
    </a>
  
        <!-- Default Card Example -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Creando nuevo producto</h6>
          </div>
          <div class="card-body">
            <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
              <!-- <input type="hidden" name="id" #id="ngModel" [ngModel]="formData?.id"> -->
              <!-- <input type="hidden" name="id_user" #id_user="ngModel" [ngModel]="formData?.id_user"> -->
              <h6 class="m-0 font-weight-bold text-default">Tipo de Producto</h6>
              <hr>
              <div class="form-group row">
                <div class="col-xl-5 col-lg-6">
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Imagen</h6>
                        </div>
                        <div class="card-body">
                            <img *ngIf="urlImage | async; else imageEmpty" [src]="urlImage | async" class="img-fluid rounded"><br/>
                            <ng-template #imageEmpty>
                              <img src="https://www.elglobomuebles.com/muebles/wp-content/themes/gecko/assets/images/placeholder.png" class="img-fluid rounded"><br/>
                            </ng-template>
                            <div class="progress">
                              <div class="progress-bar btn-info" role="progressbar" [style.width]="(uploadPercent | async) + '%'"></div>
                            </div>
                            <input type='file' class="mt-2" (change)="handleImage($event)">
                            <!-- <input type='text' class="form-control form-control-user mt-2" [value]="urlImage | async"> -->
                            <!-- <input type='text' class="form-control form-control-user mt-2" name="image_name" #image_name="ngModel" [ngModel]="formData?.image_name" [value]="imageName"> -->
                        </div>
                    </div>
                </div>
              </div>
              <h6 class="m-0 font-weight-bold text-default mt-5">Detalles</h6>
              <hr>
              <div class="form-group row">
                <div class="col-sm-5 mb-3 mb-sm-0">
                  <select name="category" #category="ngModel" [ngModel]="formData?.category" class="form-control" id="category">
                    <option value="{{ cat.name }}" *ngFor="let cat of categories_list">{{ cat.name }}</option>
                  </select>
                </div>
                <div class="col-sm-5 mb-3 mb-sm-0">
                  <select name="subcategory" #subcategory="ngModel" [ngModel]="formData?.subcategory" class="form-control" id="subcategory">
                    <option value="{{ subcat.name }}" *ngFor="let subcat of subcategories_list">{{ subcat.name }}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-2 mb-3 mb-sm-0">
                    <!-- <label for="code">Código</label> -->
                    <input type="text" name="code" #code="ngModel" [ngModel]="formData?.code" class="form-control form-control-user" placeholder="Código" required>
                </div>
                <div class="col-sm-4 mb-3 mb-sm-0">
                    <input type="text" name="name" #name="ngModel" [ngModel]="formData?.name" class="form-control form-control-user" placeholder="Nombre" required>
                </div>
                <div class="col-sm-2 mb-3 mb-sm-0">
                    <input type="number" name="price_cost" #price_cost="ngModel" [ngModel]="formData?.price_cost" class="form-control form-control-user" placeholder="Precio de Costo" required>
                </div>
                <div class="col-sm-2 mb-3 mb-sm-0">
                    <input type="number" name="price_sell" #price_sell="ngModel" [ngModel]="formData?.price_sell" class="form-control form-control-user" placeholder="Precio de Venta" required>
                </div>
                <div class="col-sm-2 mb-3 mb-sm-0">
                    <input type="number" name="stock" #stock="ngModel" [ngModel]="formData?.stock" class="form-control form-control-user" placeholder="Stock" required>
                </div>
              </div>
              <div class="form-group float-right">
                <button type="submit" class="btn btn-success btn-icon-split">
                  <span class="icon text-white-50">
                    <i class="fas fa-plus-circle"></i>
                  </span>
                  <span class="text">Crear Producto</span>
                </button>
              </div>
            </form>
          </div>
        </div>
  
  
  
  </div>
  <!-- /.container-fluid -->