<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Nuevo Usuario</h1>
  
    <a routerLink="../" class="btn btn-primary btn-icon-split mb-3">
      <span class="icon text-white-50">
        <i class="fas fa-arrow-circle-left"></i>
      </span>
      <span class="text" style="color: white;">Volver a Usuarios</span>
    </a>
  
        <!-- Default Card Example -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Creando nuevo usuario</h6>
          </div>
          <div class="card-body">
            <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
              <!-- <input type="hidden" name="id" #id="ngModel" [ngModel]="service.formData?.id"> -->
              <h6 class="m-0 font-weight-bold text-default">Tipo de usuario</h6>
              <hr>
              <!-- <div class="form-group row">
                <div class="col-sm-12 mb-3 mb-sm-0">
                  <select name="tipo" #tipo="ngModel" [ngModel]="service.formData?.tipo" class="form-control" id="tipo">
                    <option value="joya">Joya</option>
                    <option value="reloj">Reloj</option>
                  </select>
                </div>
              </div> -->
              <div class="form-group row">
                <div class="col-xl-4 col-lg-6">
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Imagen</h6>
                        </div>
                        <div class="card-body">
                            <!-- <img [src]="url" height="200"> <br/> -->
                            <!-- <input type='file' name="image_post" #image_post="ngModel" [ngModel]="service.formData?.image_post" (change)="handleImage($event)"> -->
                        </div>
                    </div>
                </div>
              </div>
              <h6 class="m-0 font-weight-bold text-default mt-5">Detalles</h6>
              <hr>
              <div class="form-group row">
                <div class="col-sm-2 mb-3 mb-sm-0">
                    <!-- <label for="code">Código</label> -->
                    <input type="text" name="username" #username="ngModel" [ngModel]="formData?.username" class="form-control form-control-user" placeholder="Nombre de Usuario" required>
                </div>
                <div class="col-sm-4 mb-3 mb-sm-0">
                    <input type="email" name="email" #email="ngModel" [ngModel]="formData?.email" class="form-control form-control-user" placeholder="Email" required>
                </div>
              </div>
              <div class="form-group float-right">
                <button type="submit" class="btn btn-success btn-icon-split">
                  <span class="icon text-white-50">
                    <i class="fas fa-plus-circle"></i>
                  </span>
                  <span class="text">Crear Usuario</span>
                </button>
              </div>
            </form>
          </div>
        </div>
  
  
  
  </div>
  <!-- /.container-fluid -->