<!-- Begin Page Content -->
<div class="container mt-2">

            <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
              <input type="hidden" name="id" #id="ngModel" [ngModel]="product.id">
              <h6 class="m-0 font-weight-bold text-default">Tipo de Producto</h6>
              <hr>
              <!-- <div class="form-group row">
                <div class="col-sm-12 mb-3 mb-sm-0">
                  <select name="tipo" #tipo="ngModel" [ngModel]="service.formData?.tipo" class="form-control" id="tipo">
                    <option value="joya">Joya</option>
                    <option value="reloj">Reloj</option>
                  </select>
                </div>
              </div> -->
              <div class="form-group row">
                <div class="col-xl-4 col-lg-6">
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Imagen</h6>
                        </div>
                        <div class="card-body">
                            <!-- <img [src]="url" height="200"> <br/> -->
                            <input type='file' name="image_post" #image_post="ngModel" [ngModel]="product.image_post" (change)="handleImage($event)">
                        </div>
                    </div>
                </div>
              </div>
              <h6 class="m-0 font-weight-bold text-default mt-5">Detalles</h6>
              <hr>
              <div class="form-group row">
                <div class="col-sm-2 mb-3 mb-sm-0">
                    <!-- <label for="code">Código</label> -->
                    <input type="text" name="code" #code="ngModel" [ngModel]="product.code" class="form-control form-control-user" placeholder="Código" required>
                </div>
                <div class="col-sm-4 mb-3 mb-sm-0">
                    <input type="text" name="name" #name="ngModel" [ngModel]="product.name" class="form-control form-control-user" placeholder="Nombre" required>
                </div>
                <div class="col-sm-2 mb-3 mb-sm-0">
                    <input type="number" name="price_cost" #price_cost="ngModel" [ngModel]="product.price_cost" class="form-control form-control-user" placeholder="Precio de Costo" required>
                </div>
                <div class="col-sm-2 mb-3 mb-sm-0">
                    <input type="number" name="price_sell" #price_sell="ngModel" [ngModel]="product.price_sell" class="form-control form-control-user" placeholder="Precio de Venta" required>
                </div>
                <div class="col-sm-2 mb-3 mb-sm-0">
                    <input type="number" name="stock" #stock="ngModel" [ngModel]="product.stock" class="form-control form-control-user" placeholder="Stock" required>
                </div>
              </div>
              <div class="form-group float-right">
                <button type="submit" class="btn btn-info btn-icon-split">
                  <span class="icon text-white-50">
                    <i class="fas fa-plus-circle"></i>
                  </span>
                  <span class="text">Actualizar Producto</span>
                </button>
              </div>
            </form>

  </div>
  <!-- /.container -->