<h3>{{ data.message }}</h3>
<mat-dialog-content class="dialog-content">
    <div *ngIf="data.content">
        <app-product-form-edit [product]="data.content"></app-product-form-edit>
    </div>
</mat-dialog-content>