/* You can add global styles to this file, and also import other style files */
@import "assets/vendor/fontawesome-free/css/all.min.css";
@import "assets/css/sb-admin-2.css";
@import "assets/vendor/datatables/dataTables.bootstrap4.min.css";


// angular.json

// css
// "./node_modules/bootstrap/dist/css/bootstrap.min.css",

// scripts
// "./node_modules/jquery/dist/jquery.min.js",
// "./node_modules/popper.js/dist/umd/popper.min.js",
// "./node_modules/bootstrap/dist/js/bootstrap.min.js",
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
