<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Nueva Sub Categoria</h1>
  
    <a routerLink="../" class="btn btn-primary btn-icon-split mb-3">
      <span class="icon text-white-50">
        <i class="fas fa-arrow-circle-left"></i>
      </span>
      <span class="text" style="color: white;">Volver a Sub Categorias</span>
    </a>
  
        <!-- Default Card Example -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Creando nueva sub categoria</h6>
          </div>
          <div class="card-body">
            <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
              <input type="hidden" name="id" #id="ngModel" [ngModel]="formData?.id">
              <h6 class="m-0 font-weight-bold text-default mt-1">Detalles</h6>
              <hr>
              <div class="form-group row">
                <div class="col-sm-4 mb-3 mb-sm-0">
                    <label for="code">Nombre</label>
                    <input type="text" name="name" #name="ngModel" [ngModel]="formData?.name" class="form-control form-control-user" required>
                </div>
              </div>
              <div class="form-group float-right">
                <button type="submit" class="btn btn-success btn-icon-split">
                  <span class="icon text-white-50">
                    <i class="fas fa-plus-circle"></i>
                  </span>
                  <span class="text">Crear Sub Categoria</span>
                </button>
              </div>
            </form>
          </div>
        </div>
  
  
  
  </div>
  <!-- /.container-fluid -->